.nav-link {
    color: white;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
}
.nav-link:hover {
    color: #d3d3d3;
}
header {
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url('images/header_bg.png');
}
.text {
    color: #2F4F4E;
}
.bg-row {
    background-color: #2F4F4E;
    color: white;
}
.text-card {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.card-body {
    background-color: #d3d3d3;
    color: black;
    font-weight: 500;
    text-align: center;
}
.btn {
    border: 2px solid #2F4F4E;
    color: #2F4F4E;
    cursor: pointer;
}
.btn:hover {
    background-color: #2F4F4E;
  color: white;
}
.section {
    background-image: url('images/section_4.png');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.social-text {
    color: #264A4D;
}
small {
    font-weight: bold;
    font-size: 16px;
}
.bg-footer {
    background-color: #d3d3d3;
}
.list-group {
    color: #0E191D;
    font-size: 18px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}